@using CourseRegistrationManagementSystem.Models;
@using System.Collections.Generic

@{
    ViewData["Title"] = "Course Results";
}

<div class="container">

    <h2>Courses Found</h2>

    @foreach (var course in ViewBag.CourseList)
    {
        <a href=""><h3 class="h3Course">@course.CourseName - @course.CourseRegistarCode - @course.CourseSubjectCode - @course.SectionNumber</h3></a>
        <br>
        <b>Term:&nbsp;</b><span>@course.CourseTerm</span>
        <br>
        <b>Registration Date Range:&nbsp;</b><span>@course.RegistrationStartDate.ToString("MMM dd, yyyy") to @course.RegistrationEndDate.ToString("MMM dd, yyyy")</span>
        <br>
        <b>Course Meeting Date Range:&nbsp;</b><span>@course.ClassStartDate.ToString("MMM dd, yyyy") to @course.ClassEndDate.ToString("MMM dd, yyyy")</span>
        <br>
        <b>Course Levels:</b>
        <span>
            @for(int i = 0; i < @course.CourseLevels.Count; i++)
            {
                <span>@course.CourseLevels[i]</span>
        
                if (i + 1 < @course.CourseLevels.Count)
                {
                    <span>,</span>
                }
            }
        </span>
        <br>
        <b>Instructional Method:&nbsp;</b><span>@course.ClassInstructionalMethod</span>
        <br>
        <b>Credit Hours:&nbsp;</b><span>@course.CreditHours</span>
        <br>
        <a href="">View Catalog Entry</a> 

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Time</th>
                    <th>Meeting Days</th>
                    <th>Campus</th>
                    <th>Classroom Location</th>
                    <th>Instructor</th>
                </tr>
                <tr>
                    <td>@course.ClassTimes</td>
                    <td>@course.ClassDays</td>
                    <td>@course.CampusName</td>
                    <td>@course.ClassroomName</td>
                    <td>@course.InstructorName</td>
                </tr>
            </table>
        </div>

        <input type="button" value="View Availability" id="classInformationButton">

        <div id="classInformationGroup">

        <script>
            $(document).ready(function($){
                $("#classInformationGroup").hide();
            
                $("#classInformationButton").click(function(){
                    $("#classInformationGroup").toggle();
                });
            });
        </script>

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Availability</th>
                        <th>Capacity</th>
                        <th>Actual</th>
                        <th>Remaining</th>
                    </tr>
                    <tr>
                        <td>Seats</td>
                        <td>35</td>
                        <td>10</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>Waitlist Seats</td>
                        <td>35</td>
                        <td>2</td>
                        <td>33</td>
                    </tr>
                </table>
            </div>

            <b>Prerequisites:&nbsp;</b>

        </div>
    }

</div>