@using CourseRegistrationManagementSystem.Models;
@using System.Collections.Generic

@{
    ViewData["Title"] = "Course Results";
}

<div class="container">

    <h2>Courses Found</h2>

    @foreach (var course in ViewBag.Courses)
    {
        <h3 class="h3Course">@course.CourseName - @course.CourseRegistarCode - @course.CourseSubjectCode - @course.SectionNumber</h3>
        <h4>Add to Schedule<input type="checkbox" id="classScheduleCheckbox_@course.ID" style="margin-left: 5px;"></h4>
        <br>
        <b>Term:&nbsp;</b><span>@course.CourseTerm</span>
        <br>
        <b>Registration Date Range:&nbsp;</b><span>@course.RegistrationStartDate.ToString("MMM dd, yyyy") to @course.RegistrationEndDate.ToString("MMM dd, yyyy")</span>
        <br>
        <b>Course Meeting Date Range:&nbsp;</b><span>@course.ClassStartDate.ToString("MMM dd, yyyy") to @course.ClassEndDate.ToString("MMM dd, yyyy")</span>
        <br>
        <b>Course Levels:</b>
        <span>
            @for(int i = 0; i < @course.CourseLevels.Count; i++)
            {
                <span>@course.CourseLevels[i]</span>
        
                if (i + 1 < @course.CourseLevels.Count)
                {
                    <span>,</span>
                }
            }
        </span>
        <br>
        <b>Instructional Method:&nbsp;</b><span>@course.ClassInstructionalMethod</span>
        <br>
        <b>Credit Hours:&nbsp;</b><span>@course.CreditHours</span>
        <br>
        <a href="">View Catalog Entry</a> 

        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Time</th>
                    <th>Meeting Days</th>
                    <th>Campus</th>
                    <th>Classroom Location</th>
                    <th>Instructor</th>
                </tr>
                <tr>
                    <td>
                        @for(int i = 0; i < @course.ClassTimes.Count; i++)
                        {
                            <span>@course.ClassTimes[i]</span>
        
                            if (i + 1 < @course.ClassTimes.Count)
                            {
                                <span><br></span>
                            }
                        }
                    </td>
                    <td>
                        @for(int i = 0; i < @course.ClassDays.Count; i++)
                        {
                            <span>@course.ClassDays[i]</span>
        
                            if (i + 1 < @course.ClassDays.Count)
                            {
                                <span><br></span>
                            }
                        }
                    </td>
                    <td>@course.CampusName</td>
                    <td>
                        @for(int i = 0; i < @course.ClassroomName.Count; i++)
                        {
                            <span>@course.ClassroomName[i]</span>
        
                            if (i + 1 < @course.ClassroomName.Count)
                            {
                                <span><br></span>
                            }
                        }
                    </td>
                    <td>@course.InstructorName</td>
                </tr>
            </table>
        </div>

        <input type="button" value="View Availability" class="advancedButton" id="classInformationButton_@course.ID">

        <div id="classInformationGroup_@course.ID">

        <script>
            $(document).ready(function($){
                $("#classInformationGroup_@course.ID").hide();
            
                $("#classInformationButton_@course.ID").click(function(){
                    $("#classInformationGroup_@course.ID").toggle();
                });

            });
        </script>

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Availability</th>
                        <th>Capacity</th>
                        <th>Actual</th>
                        <th>Remaining</th>
                    </tr>
                    <tr>
                        <td>Seats</td>
                        <td>@course.CourseSeat.Capacity</td>
                        <td>@course.CourseSeat.Actual</td>
                        <td>@course.CourseSeat.Remaining</td>
                    </tr>
                    <tr>
                        <td>Waitlist Seats</td>
                        <td>@course.CourseSeat.WaitlistCapacity</td>
                        <td>@course.CourseSeat.WaitlistActual</td>
                        <td>@course.CourseSeat.WaitlistRemaining</td>
                    </tr>
                </table>
            </div>

            <b>Prerequisites:&nbsp;</b><span>@course.Prerequisites</span>
            <br>
            <b>Textbook:&nbsp;</b><span>@course.TextbookName,</span>
            <span>New:  $@course.TextbookNewPrice</span>
            <span>Used: $@course.TextbookUsedPrice</span>

        </div>
    }

</div>