<!-- 
    Copyright 2018
    James Adams IV
    East Carolina University
-->

@using CourseRegistrationManagementSystem.Models;
@using System.Collections.Generic

@{
    ViewData["Title"] = "Daily Course Schedule";
}

<div class="container" id="scheduleDiv">

    <button id="printScheduleButton" onclick="window.print();">Print Schedule</button>

    <button id="viewDirectionsButton">View Directions</button>

    <h2>Monday</h2>

    @foreach (var course in ViewBag.MondayCourses)
    {
        <p>
        <span>@course.ClassName</span>
        <br>
        <span>@course.ClassTime</span>
        <br>
        <span>@course.ClassroomName</span>
        <br>
        </p>

        <button type="button" class="btn btn-default deleteCourseFromScheduleButton" aria-label="Remove from Schedule" onclick="deleteCourseFromScheduleOnScheduleScreen(@course.ID)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>

        <h5>Add to Directions<input type="checkbox" class="CRMSCheckbox directionsCheckbox" value="@course.ID"></h5>
    }

    <h2>Tuesday</h2>
    
    @foreach (var course in ViewBag.TuesdayCourses)
    {
        <p>
        <span>@course.ClassName</span>
        <br>
        <span>@course.ClassTime</span>
        <br>
        <span>@course.ClassroomName</span>
        <br>
        </p>

        <button type="button" class="btn btn-default deleteCourseFromScheduleButton" aria-label="Remove from Schedule" onclick="deleteCourseFromScheduleOnScheduleScreen(@course.ID)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>

        <h5>Add to Directions<input type="checkbox" class="CRMSCheckbox directionsCheckbox" value="@course.ID"></h5>
    }

    <h2>Wednesday</h2>
    
    @foreach (var course in ViewBag.WednesdayCourses)
    {
        <p>
        <span>@course.ClassName</span>
        <br>
        <span>@course.ClassTime</span>
        <br>
        <span>@course.ClassroomName</span>
        <br>
        </p>

        <button type="button" class="btn btn-default deleteCourseFromScheduleButton" aria-label="Remove from Schedule" onclick="deleteCourseFromScheduleOnScheduleScreen(@course.ID)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>

        <h5>Add to Directions<input type="checkbox" class="CRMSCheckbox directionsCheckbox" value="@course.ID"></h5>
    }

    <h2>Thursday</h2>
    
    @foreach (var course in ViewBag.ThursdayCourses)
    {
        <p>
        <span>@course.ClassName</span>
        <br>
        <span>@course.ClassTime</span>
        <br>
        <span>@course.ClassroomName</span>
        <br>
        </p>

        <button type="button" class="btn btn-default deleteCourseFromScheduleButton" aria-label="Remove from Schedule" onclick="deleteCourseFromScheduleOnScheduleScreen(@course.ID)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>

        <h5>Add to Directions<input type="checkbox" class="CRMSCheckbox directionsCheckbox" value="@course.ID"></h5>
    }

    <h2>Friday</h2>
    
    @foreach (var course in ViewBag.FridayCourses)
    {
        <p>
        <span>@course.ClassName</span>
        <br>
        <span>@course.ClassTime</span>
        <br>
        <span>@course.ClassroomName</span>
        <br>
        </p>

        <button type="button" class="btn btn-default deleteCourseFromScheduleButton" aria-label="Remove from Schedule" onclick="deleteCourseFromScheduleOnScheduleScreen(@course.ID)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>

        <h5>Add to Directions<input type="checkbox" class="CRMSCheckbox directionsCheckbox" value="@course.ID"></h5>
    }

    <h2>Saturday</h2>
    
    @foreach (var course in ViewBag.SaturdayCourses)
    {
        <p>
        <span>@course.ClassName</span>
        <br>
        <span>@course.ClassTime</span>
        <br>
        <span>@course.ClassroomName</span>
        <br>
        </p>

        <button type="button" class="btn btn-default deleteCourseFromScheduleButton" aria-label="Remove from Schedule" onclick="deleteCourseFromScheduleOnScheduleScreen(@course.ID)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>

        <h5>Add to Directions<input type="checkbox" class="CRMSCheckbox directionsCheckbox" value="@course.ID"></h5>
    }

    <h2>Sunday</h2>
    
    @foreach (var course in ViewBag.SundayCourses)
    {
        <p>
        <span>@course.ClassName</span>
        <br>
        <span>@course.ClassTime</span>
        <br>
        <span>@course.ClassroomName</span>
        <br>
        </p>

        <button type="button" class="btn btn-default deleteCourseFromScheduleButton" aria-label="Remove from Schedule" onclick="deleteCourseFromScheduleOnScheduleScreen(@course.ID)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>

        <h5>Add to Directions<input type="checkbox" class="CRMSCheckbox directionsCheckbox" value="@course.ID"></h5>
    }

</div>

<div id="dialog-confirm" title="Confirm Removing Course">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This course will be removed from the course schedule. Are you sure you want to remove this course?</p>
</div>

<div id="dialog-cannot-add-course-message" title="Cannot Add Course to Directions">
  <p>
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
    Cannot add more than two courses to directions.
  </p>
</div>

<div id="dialog-cannot-view-directions-message" title="Cannot View Directions">
  <p>
    <span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 50px 0;"></span>
    Please select two courses to view classroom directions.
  </p>
</div>