@using CourseRegistrationManagementSystem.Models;
@using System.Collections.Generic

@{
    ViewData["Title"] = "Search for Courses";
}

@using (Html.BeginForm("CourseResults", "Home", FormMethod.Post))
{
    <h2>@ViewData["Title"]</h2>

    <div class="container">
    
        <div class="row">
    
            <div class="form-group col-md-4">

                <label id="subjectLabel" for="selectedSubjects" class="searchLabel">Subject:</label>

                @Html.ListBox("selectedSubjects", new MultiSelectList(ViewBag.Subjects))

            </div>

            <div class="form-group col-md-4">

                <label id="courseLevelLabel" class="searchLabel">Course Level:</label>

                @Html.ListBox("selectedCourseLevel", new MultiSelectList(ViewBag.CourseLevels))
        
            </div>

            <div class="form-group col-md-4">

                <label id="campusLabel" class="searchLabel">Campus:</label>

                @Html.ListBox("selectedCampuses", new MultiSelectList(ViewBag.Campuses))

            </div>
        
        </div>

        <div class="row">

            <div class="form-group col-md-4">

                <label id="instructionalMethodLabel" class="searchLabel">Instructional Method:</label>

                @Html.ListBox("selectedInstructionalMethods", new MultiSelectList(ViewBag.InstructionalMethods))

            </div>

            <div class="form-group col-md-4">

                <label id="sessionLabel" class="searchLabel">Session:</label>

                @Html.ListBox("selectedSession", new MultiSelectList(ViewBag.Sessions))
        
            </div>

            <div class="form-group col-md-4">
    
                <label id="instructorLabel" class="searchLabel">Instructor:</label>

                @Html.ListBox("selectedInstructors", new MultiSelectList(ViewBag.Instructors))

            </div>

        </div>

        <input type="button" value="Advanced Search" class="advancedButton" id="advancedCourseSearchButton">

        <div id="advancedCourseSearchGroup">

        <div class="row">

            <div class="form-group col-md-4">

                <label id="scheduleTypeLabel" class="searchLabel">Schedule Type:</label>

                @Html.ListBox("selectedScheduleType", new MultiSelectList(ViewBag.ScheduleTypes))

            </div>

            <div class="form-group col-md-4">

                <label id="courseAttributeLabel" class="searchLabel">Course Attribute:</label>

                @Html.ListBox("selectedCourseAttribute", new MultiSelectList(ViewBag.CourseAttributes))
        
            </div>

            <div class="form-group col-md-4">

                <label id="termDurationLabel" class="searchLabel">Term Duration:</label>

                @Html.ListBox("selectedTermDuration", new MultiSelectList(ViewBag.TermDurations))
        
            </div>

        </div>

        <div class="row">
        
            <div class="form-group col-md-4">

                <label id="courseNumberLabel" class="searchLabel">Course Number:</label>

                <input type="text" name="CourseNumber" id="CourseNumber">

            </div>

            <div class="form-group col-md-4">

                <label id="courseTitleLabel" class="searchLabel">Course Title:</label>

                <input type="text" name="CourseTitle" id="CourseTitle">

            </div>

            <div class="form-group col-md-4">

                <label id="CreditHourRangeLabel" class="searchLabel">Credit Hour Range:</label>

                <label id="CreditHourRangeStartLabel">From:</label>
        
                <select id="creditHourRangeStart">
                    <option value="1hour">1</option>
                    <option value="2hour">2</option>
                    <option value="3hour">3</option>
                    <option value="4hour">4</option>
                    <option value="5hour">5</option>
                    <option value="6hour">6</option>
                    <option value="7hour">7</option>
                    <option value="8hour">8</option>
                    <option value="9hour">9</option>
                    <option value="10hour">10</option>
                </select>

                <label id="CreditHourRangeEndLabel">To:</label>
        
                <select id="creditHourRangeEnd">
                    <option value="1hour">1</option>
                    <option value="2hour">2</option>
                    <option value="3hour">3</option>
                    <option value="4hour">4</option>
                    <option value="5hour">5</option>
                    <option value="6hour">6</option>
                    <option value="7hour">7</option>
                    <option value="8hour">8</option>
                    <option value="9hour">9</option>
                    <option value="10hour">10</option>
                </select>

            </div>
        
        </div>
       
        <div class="row">

            <div class="form-group col-md-4">

                <label id="startTimeLabel" class="searchLabel">Start Time:</label>
        
                <input id='startTimeTimepicker' type='text' name='startTimeTimepicker'/>

            </div>

            <div class="form-group col-md-4">

                <label id="endTimeLabel" class="searchLabel">End Time:</label>
        
                <input id='endTimeTimepicker' type='text' name='endTimeTimepicker'/>

            </div>

            <div class="form-group col-md-4">
        
                <label id="mondayLabel">Monday:</label>
            
                <input type="checkbox" name="monday" value="Monday">

                <label id="tuesdayLabel">Tuesday:</label>
            
                <input type="checkbox" name="tuesday" value="Tuesday">

                <label id="wednesdayLabel">Wednesday:</label>
            
                <input type="checkbox" name="wednesday" value="Wednesday">

                <label id="thursdayLabel">Thursday:</label>
            
                <input type="checkbox" name="thursday" value="Thursday">

                <label id="fridayLabel">Friday:</label>
            
                <input type="checkbox" name="friday" value="Friday">

                <label id="saturdayLabel">Saturday:</label>
            
                <input type="checkbox" name="saturday" value="Saturday">

                <label id="sundayLabel">Sunday:</label>
            
                <input type="checkbox" name="sunday" value="Sunday">
        
            </div>

        </div>

        </div>

    </div>
    
    <input type="submit" class="button" value="Class Search">

 }